{{> header}}
<div class="content">
    {{> navbar}}
    <section id="viewComments">
        {{> postDetails}}
        {{> commentForm}}
        {{#each comments}}
            {{> comment}}
        {{/each}}
    </section>
</div>
{{> footer}}