<div class="post post-content">
    <form id="commentForm" action="#/add/comment/:{{postId}}" method="post">
        <label>Comment</label>
        <label>
            <textarea name="content" type="text"></textarea>
        </label>
        <input type="submit" value="Add Comment" id="btnPostComment">
    </form>
</div>