<div id="notifications">
    <div id="loadingBox" class="notification">
        <span>Loading …</span>
    </div>
    <div id="infoBox" class="notification">
        <span></span>
    </div>
    <div id="errorBox" class="notification">
        <span></span>
    </div>
</div>